 #  A Whale off the Port(folio)
 ---

 In this assignment, you'll get to use what you've learned this week to evaluate the performance among various algorithmic, hedge, and mutual fund portfolios and compare them against the S&P TSX 60 Index.

In [1]:
# Initial imports
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path

%matplotlib inline

# Data Cleaning

In this section, you will need to read the CSV files into DataFrames and perform any necessary data cleaning steps. After cleaning, combine all DataFrames into a single DataFrame.

Files:

* `whale_returns.csv`: Contains returns of some famous "whale" investors' portfolios.

* `algo_returns.csv`: Contains returns from the in-house trading algorithms from Harold's company.

* `sp_tsx_history.csv`: Contains historical closing prices of the S&P TSX 60 Index.

## Whale Returns

Read the Whale Portfolio daily returns and clean the data.

In [2]:
whale = pd.read_csv('Resources/whale_returns.csv')

In [27]:
whale.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1060 entries, 0 to 1059
Data columns (total 5 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         1060 non-null   object
 1   SOROS FUND MANAGEMENT LLC    1059 non-null   float64
 2   PAULSON & CO.INC.            1059 non-null   float64
 3   TIGER GLOBAL MANAGEMENT LLC  1059 non-null   float64
 4   BERKSHIRE HATHAWAY INC       1059 non-null   float64
dtypes: float64(4), object(1)
memory usage: 41.5+ KB

In [28]:
whale.describe()

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
count,1059.000000,1059.000000,1059.000000,1059.000000
mean,0.000179,-0.000203,-0.000081,0.000501
std,0.007842,0.006977,0.010824,0.012831
min,-0.032711,-0.032099,-0.139820,-0.066505
25%,-0.003594,-0.003961,-0.004746,-0.005515
50%,0.000467,0.000000,0.000232,0.000617
75%,0.004292,0.003567,0.005176,0.007516
max,0.042977,0.029338,0.080705,0.061341

In [29]:
whale.isnull().sum()

Date                           0
SOROS FUND MANAGEMENT LLC      1
PAULSON & CO.INC.              1
TIGER GLOBAL MANAGEMENT LLC    1
BERKSHIRE HATHAWAY INC         1
dtype: int64

In [35]:
whale.dropna(inplace = True)

In [71]:
whale['Date'] = pd.to_datetime(whale['Date'])

In [ ]:
# Reading whale returns

In [ ]:
# Count nulls

In [ ]:
# Drop nulls

## Algorithmic Daily Returns

Read the algorithmic daily returns and clean the data.

In [37]:
algorithmic_return = pd.read_csv('Resources/algo_returns.csv')

In [40]:
algorithmic_return.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1241 entries, 0 to 1240
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1241 non-null   object
 1   Algo 1  1241 non-null   float64
 2   Algo 2  1235 non-null   float64
dtypes: float64(2), object(1)
memory usage: 29.2+ KB

In [41]:
algorithmic_return.describe()

            Algo 1       Algo 2
count  1241.000000  1235.000000
mean      0.000667     0.000341
std       0.007972     0.008466
min      -0.030951    -0.036937
25%      -0.003238    -0.003733
50%       0.000135     0.000581
75%       0.003978     0.005194
max       0.098246     0.083734

In [42]:
algorithmic_return.isnull().sum()

Date      0
Algo 1    0
Algo 2    6
dtype: int64

In [46]:
algorithmic_return.dropna(inplace = True)

In [73]:
algorithmic_return['Date'] = pd.to_datetime(algorithmic_return['Date'])

In [ ]:
# Reading algorithmic returns

In [ ]:
# Count nulls

In [ ]:
# Drop nulls

## S&P TSX 60 Returns

Read the S&P TSX 60 historic closing prices and create a new daily returns DataFrame from the data.

In [64]:
snp = pd.read_csv('Resources/sp_tsx_history.csv')

In [65]:
snp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1818 entries, 0 to 1817
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1818 non-null   object
 1   Close   1818 non-null   object
dtypes: object(2)
memory usage: 28.5+ KB

In [66]:
snp

             Date       Close
0      1-Oct-2012  $12,370.19
1      2-Oct-2012  $12,391.23
2      3-Oct-2012  $12,359.47
3      4-Oct-2012  $12,447.68
4      5-Oct-2012  $12,418.99
...           ...         ...
1813  20-Dec-2019  $17,118.44
1814  23-Dec-2019  $17,128.71
1815  24-Dec-2019  $17,180.15
1816  27-Dec-2019  $17,168.21
1817  30-Dec-2019  $17,098.56

[1818 rows x 2 columns]

In [67]:
snp.describe()

              Date       Close
count         1818        1818
unique        1818        1814
top     1-Oct-2012  $16,074.30
freq             1           2

In [68]:
snp['Date'] = pd.to_datetime(snp['Date'])
snp['Close'] = snp['Close'].str.replace('$', '').str.replace(',', '').astype(float)

In [74]:
snp['Daily_return'] = snp['Close'].diff()

In [76]:
snp.isnull().sum()

Date            0
Close           0
Daily_return    1
dtype: int64

In [77]:
snp.dropna(inplace = True)

In [78]:
snp.rename(columns = {'Close': 'S&P_Close'})

           Date  S&P_Close  Daily_return
1    2012-10-02   12391.23         21.04
2    2012-10-03   12359.47        -31.76
3    2012-10-04   12447.68         88.21
4    2012-10-05   12418.99        -28.69
5    2012-10-09   12273.57       -145.42
...         ...        ...           ...
1813 2019-12-20   17118.44         54.40
1814 2019-12-23   17128.71         10.27
1815 2019-12-24   17180.15         51.44
1816 2019-12-27   17168.21        -11.94
1817 2019-12-30   17098.56        -69.65

[1817 rows x 3 columns]

In [ ]:
# Reading S&P TSX 60 Closing Prices

In [ ]:
# Check Data Types

In [ ]:
# Fix Data Types

In [ ]:
# Calculate Daily Returns

In [ ]:
# Drop nulls

In [ ]:
# Rename `Close` Column to be specific to this portfolio.

## Combine Whale, Algorithmic, and S&P TSX 60 Returns

In [ ]:
# Join Whale Returns, Algorithmic Returns, and the S&P TSX 60 Returns into a single DataFrame with columns for each portfolio's returns.

---

# Conduct Quantitative Analysis

In this section, you will calculate and visualize performance and risk metrics for the portfolios.

## Performance Anlysis

#### Calculate and Plot the daily returns.

In [ ]:
# Plot daily returns of all portfolios

#### Calculate and Plot cumulative returns.

In [ ]:
# Calculate cumulative returns of all portfolios

# Plot cumulative returns

---

## Risk Analysis

Determine the _risk_ of each portfolio:

1. Create a box plot for each portfolio. 
2. Calculate the standard deviation for all portfolios.
4. Determine which portfolios are riskier than the S&P TSX 60.
5. Calculate the Annualized Standard Deviation.

### Create a box plot for each portfolio

In [ ]:
# Box plot to visually show risk

### Calculate Standard Deviations

In [ ]:
# Calculate the daily standard deviations of all portfolios

### Determine which portfolios are riskier than the S&P TSX 60

In [ ]:
# Calculate  the daily standard deviation of S&P TSX 60

# Determine which portfolios are riskier than the S&P TSX 60

### Calculate the Annualized Standard Deviation

In [ ]:
# Calculate the annualized standard deviation (252 trading days)

---

## Rolling Statistics

Risk changes over time. Analyze the rolling statistics for Risk and Beta. 

1. Calculate and plot the rolling standard deviation for all portfolios using a 21-day window.
2. Calculate the correlation between each stock to determine which portfolios may mimick the S&P TSX 60.
3. Choose one portfolio, then calculate and plot the 60-day rolling beta for it and the S&P TSX 60.

### Calculate and plot rolling `std` for all portfolios with 21-day window

In [ ]:
# Calculate the rolling standard deviation for all portfolios using a 21-day window

# Plot the rolling standard deviation

### Calculate and plot the correlation

In [ ]:
# Calculate the correlation

# Display de correlation matrix

### Calculate and Plot Beta for a chosen portfolio and the S&P 60 TSX

In [ ]:
# Calculate covariance of a single portfolio

# Calculate variance of S&P TSX

# Computing beta

# Plot beta trend

## Rolling Statistics Challenge: Exponentially Weighted Average 

An alternative way to calculate a rolling window is to take the exponentially weighted moving average. This is like a moving window average, but it assigns greater importance to more recent observations. Try calculating the [`ewm`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html) with a 21-day half life for each portfolio, using standard deviation (`std`) as the metric of interest.

In [ ]:
# Use `ewm` to calculate the rolling window

---

# Sharpe Ratios
In reality, investment managers and thier institutional investors look at the ratio of return-to-risk, and not just returns alone. After all, if you could invest in one of two portfolios, and each offered the same 10% return, yet one offered lower risk, you'd take that one, right?

### Using the daily returns, calculate and visualize the Sharpe ratios using a bar plot

In [ ]:
# Annualized Sharpe Ratios

In [ ]:
# Visualize the sharpe ratios as a bar plot

### Determine whether the algorithmic strategies outperform both the market (S&P TSX 60) and the whales portfolios.

Write your answer here!

---

# Create Custom Portfolio

In this section, you will build your own portfolio of stocks, calculate the returns, and compare the results to the Whale Portfolios and the S&P TSX 60. 

1. Choose 3-5 custom stocks with at last 1 year's worth of historic prices and create a DataFrame of the closing prices and dates for each stock.
2. Calculate the weighted returns for the portfolio assuming an equal number of shares for each stock.
3. Join your portfolio returns to the DataFrame that contains all of the portfolio returns.
4. Re-run the performance and risk analysis with your portfolio to see how it compares to the others.
5. Include correlation analysis to determine which stocks (if any) are correlated.

## Choose 3-5 custom stocks with at last 1 year's worth of historic prices and create a DataFrame of the closing prices and dates for each stock.

In [ ]:
# Reading data from 1st stock

In [ ]:
# Reading data from 2nd stock

In [ ]:
# Reading data from 3rd stock

In [ ]:
# Combine all stocks in a single DataFrame

In [ ]:
# Reset Date index

In [ ]:
# Reorganize portfolio data by having a column per symbol

In [ ]:
# Calculate daily returns

# Drop NAs

# Display sample data

## Calculate the weighted returns for the portfolio assuming an equal number of shares for each stock

In [ ]:
# Set weights
weights = [1/3, 1/3, 1/3]

# Calculate portfolio return

# Display sample data

## Join your portfolio returns to the DataFrame that contains all of the portfolio returns

In [ ]:
# Join your returns DataFrame to the original returns DataFrame

In [ ]:
# Only compare dates where return data exists for all the stocks (drop NaNs)

## Re-run the risk analysis with your portfolio to see how it compares to the others

### Calculate the Annualized Standard Deviation

In [ ]:
# Calculate the annualized `std`

### Calculate and plot rolling `std` with 21-day window

In [ ]:
# Calculate rolling standard deviation

# Plot rolling standard deviation

### Calculate and plot the correlation

In [ ]:
# Calculate and plot the correlation

### Calculate and Plot the 60-day Rolling Beta for Your Portfolio compared to the S&P 60 TSX

In [ ]:
# Calculate and plot Beta

### Using the daily returns, calculate and visualize the Sharpe ratios using a bar plot

In [ ]:
# Calculate Annualized Sharpe Ratios

In [ ]:
# Visualize the sharpe ratios as a bar plot

### How does your portfolio do?

Write your answer here!

In [6]:
a = pd.read_csv('Resources/whale_returns.csv')
b = pd.read_csv('Resources/algo_returns.csv')
c = pd.read_csv('Resources/sp_tsx_history.csv')
d = pd.read_csv('Resources/l_historical.csv')
e = pd.read_csv('Resources/otex_historical.csv')
f = pd.read_csv('Resources/shop_historical.csv')

In [7]:
a.head(5)

,Date,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
0,2015-03-02,NaN,NaN,NaN,NaN
1,2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569
2,2015-03-04,0.002230,0.003241,-0.002534,0.004213
3,2015-03-05,0.004016,0.004076,0.002355,0.006726
4,2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098

In [17]:
b.head(5)

         Date    Algo 1  Algo 2
0  2014-05-28  0.001745     NaN
1  2014-05-29  0.003978     NaN
2  2014-05-30  0.004464     NaN
3  2014-06-02  0.005692     NaN
4  2014-06-03  0.005292     NaN

In [9]:
c.head(5)

         Date       Close
0  1-Oct-2012  $12,370.19
1  2-Oct-2012  $12,391.23
2  3-Oct-2012  $12,359.47
3  4-Oct-2012  $12,447.68
4  5-Oct-2012  $12,418.99

In [10]:
d.head(5)

  Symbol      Date  Close
0      L  1/2/2018  57.99
1      L  1/3/2018  57.41
2      L  1/4/2018  57.42
3      L  1/5/2018  57.42
4      L  1/8/2018  56.86

In [11]:
e.head(5)

  Symbol      Date  Close
0   OTEX  1/2/2018  43.58
1   OTEX  1/3/2018  43.07
2   OTEX  1/4/2018  42.91
3   OTEX  1/5/2018  42.57
4   OTEX  1/8/2018  42.16

In [12]:
f.head(5)

  Symbol      Date   Close
0   SHOP  1/2/2018  132.06
1   SHOP  1/3/2018  135.15
2   SHOP  1/4/2018  137.46
3   SHOP  1/5/2018  137.26
4   SHOP  1/8/2018  139.51